/*CSS REST*/
* {
  padding: 0;
  margin: 10px;
  box-sizing: border-box;
}

body {
height:90vh;
}

img {
  max-width: 100%
}

/* this overrides the default padding and margin on gridlex elements */
[class*=grid] {   margin: 0;  }
[class*=col]  {   padding: 0; }

/*Utility Classes */
.left { text-align: left;}
.right { text-align: right; }
.center { text-align: center; }

.padded {padding: 3%;}
.no-padding {padding: 0;}
.no-bottom { padding-bottom: 0;}

.hide {
  display: none;
}

.contact:hover + .hide {
  display: block;
  color: #e93f36;
  position: absolute;
  right:1%;
  top:60px;

}

/* FONTS AND TYPOGRAPHY */
h1 {
  font-size: 10em;
  /* font-family: 'Chewy', cursive;
  font-family: 'Creepster', cursive;
  font-family: 'Press Start 2P', cursive; */
  font-family: 'Chewy', cursive;
  text-align: center;
  background-image: url("/images/starglitter.gif");
  -webkit-background-clip: text;
  background-position: center center;
  -webkit-text-fill-color: transparent;
  background-repeat: repeat;
  /* background-size: cover;  */
}

h2 {
  font-family: 'Chewy', cursive;
  font-size: 2em;
  color:#333333;
  padding:0;
  margin:0;
}

h3{
  color:#e93f36;
  font-size:1.5rem;
  font-family: 'Knewave', cursive;
}

p {
  color:#333333;
  font-family: 'Gemunu Libre', sans-serif;
  font-size:1rem;
}

.fas, .fab, .far {
color:#333333;
transition: all .3s;
}

.fas:hover, .fab:hover, .far:hover {
  color:#bcb8b4;
  transition: all .5s;

}

.searchbaricons {
  color:#333333;}

/* PAGE LAYOUTS */
.bigframe {
  border: 8px solid;
  color: #f2b7d5;
  border-radius: 10px;
  height:98vh;
  z-index: 2;
  margin:auto;
}

.littleframesHeaderFooter {
  background-color: #CBFF2A;
  /* padding: 20px; */
 margin: auto;
}

.littleframesInside {
  background-color: #f2b7d5;
  padding: 10px;
  margin: auto;
}

.littleframesSearchbar {
  background-color: #ffffff;
  margin: auto;
}

.insidepage {
  width: 100%;
  margin: auto;
  background-image: url("/images/constructionbgnew.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height:69vh;
  /* padding: 120px 40px; */
}
