/*CSS REST*/
*{
  padding:0;
  margin:2px;
  box-sizing: border-box;

}

img{
  max-width: 100%
}

[class*=grid-], [class*=grid_], [class~=grid]{
  margin: 0;
}

.page {
  width:100%;
  margin:auto;
  background-image: url("/images/constructionbgnew.jpg");
  background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius:25px;
}


.mainbody{
width:100%;
padding:100px 40px;

}

.maintextarea {


}

h1 {
font-size:12em;
font-family: 'Chewy', cursive;
text-align:center;
background-image: url("/images/lightglitter.gif");
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-repeat: no-repeat;
  background-size: cover;

}

.littleframeheader{
  border: 5px solid;
  color:pink;
  background-color:#CBFF2A;
  padding:20px;
  width:100%;
  margin:auto;
border-radius: 25px;
}
